<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <div class="profile-head">
            <div class="photo-content">
              <div class="cover-photo"></div>
            </div>
            <div class="profile-info">
              <div class="profile-photo">
                <img src="https://lolfilter.com/files/thumbnails/349497939043788.png" class="img-fluid rounded-circle" alt="" />
              </div>
              <div class="profile-details">
                <div class="profile-name px-3 pt-2">
                  <h4 class="text-primary mb-0">{{user.username}}</h4>
                  <ol>
                    </br>
                    <li>Email Address: {{user.email}}</li>
                  </ol>
                </div>
              </div>
              
            </div>
              <div class="basic-form">

                    <form action="/profile/change" method="POST"  autocomplete="off">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="username" value="{{user.username}}" />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="email" value ="{{user.email}}"  />
                        </div>
                      </div>
                          <input
                            class="btn btn-primary"
                            type="submit"
                            value="Change"
                          />
                    </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--**********************************
            Content body end
        ***********************************-->