<div class="content-body">
  <div class="container-fluid">
    
    <!-- row -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Admin List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="display" style="min-width: 845px">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each users}}
                    <tr>
                      <td>{{this._id}}</td>
                      <td>{{this.username}}</td>
                    </tr>
                  {{/each}}
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>