<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div id="chartContent">
    <canvas id="myChart"></canvas>
</div>
<script>
var xValues = ["January","February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

var yValues =[{{statisticByMonth}}];
var barColors = ["red", "green","blue","orange", "white","pink","black", 'rgba(255, 99, 132, 0.2)', 'rgba(255, 255, 132, 0.2)', 'rgba(0.2, 99, 132, 255)','rgba(99, 255, 132, 0.2)','rgba(99, 132, 255, 0.2)'];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
        display: false,
    },
    title: {
      display: true,
      text: "The Last 7 Days Bills",
      fontSize: 30,
      fontColor: "red"
    },
    scales: {
        yAxes: [{
            ticks: {
                fontSize: 15,
                suggestedMin: 0
            }
        }],
        xAxes: [{
            ticks: {
                fontSize: 15
            }
        }]
    }
  }
});
</script>
